@import url('https://fonts.googleapis.com/css?family=Dosis');

img {
    max-width: 100%;
}

ul {
    display: flex;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 3.3px;
}

li {
    margin-right: 20px;
}

.main-screen {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    position: relative;
}

.Tomas-rhitm {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.Tomas-rhitm div {
    width: 126px;
    height: 1px;
    background-color: #fff;
}

.Tomas-rhitm a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    display: inline-block;
    font-family: "Open Sans - Semibold";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.6px;
    margin-left: 12px;
}

.main-text {
    text-align: center;
}

.main-text>h1 {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    margin-top: 15%;
}

.main-text>p {
    opacity: 0.68;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    margin-top: 5%;
}

.rhombus-btn {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: 10%;
}

.rhombus-btn i {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
    left: 15px;
}

.container {
    margin: 5% 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-3>div {
    width: 32%;
}



.scene {
    width: 400px;
    height: 460px;
    margin: 20px 0;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: 1s;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    transition: transform 1s;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background: #fff;
    transform: rotateY(180deg);
}

.worker-about {
    font-size: 12px;
    letter-spacing: 4.8px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 5% 20%;
    line-height: 18px;
    color: #777777;
}

.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    transform: rotateY(360deg);
}



/*style for about section*/
.title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.title-about {
    text-align: left;
}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
}

.subtitle-about>small {
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 10px;
}

#slides {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: black;
    color: #fff;
    text-align: center;

}

.slide {

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide button {
    width: 140px;
}


.image-list {
    margin: 5% 0;
}

.worker-name,
.worker-job {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
}

/* section digital-services */

.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.list-servises {
    display: flex;
    justify-content: center;
}

.list-servises li {
    text-align: center;
    margin: 0 3%;
}

.list-servises li span {
    color: #777777;
    font-size: 48px;
    font-weight: 400;
}

.activ-icon,
.list-servises .activ-icon span {
    color: #111111;
}

.tab-button {
    border: none;
    background-color: #fff;
    outline: none;

}

.tabcontent {
    display: none;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.slider-text {
    padding-top: 50px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}

.creative-works {
    height: 300px;
}

.slider-btn {
    padding-bottom: 50px;
}

.white-btn {
    background-color: #ffffff;
    opacity: 0.8;
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 2.8px;
    border: none;
    width: 40%;
    margin: 40px 0;
    padding: 12px 0;
}

.white-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.monitor-img {
    float: right;
    margin-top: -40px;
}

.digital-services-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}

.portfolio-text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}

.portfolio-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grey-laer {
    width: 33%;
    filter: grayscale(100%);
    transform: scale(1.1);
}

.grey-laer:hover {
    filter: none;
    cursor: pointer;
}

.grey-laer1 {
    width: 33%;
    filter: grayscale(100%);
    display: block;
}


.creative-works {
    height: 290px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.btn-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/*section Why Choose Us*/
.title-item {
    color: #777777;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5.6px;
    margin: 25px 0;
    text-transform: uppercase;
}

.custom-icons span {
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
}

.custom-icons {
    margin-bottom: 50px;
}

.row-3-center>div {
    text-align: center;
}

.row-margin {
    margin-top: 40px;
}

.subscribe {
    background-color: #f8f8f8;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-item {
    text-align: center;
}

.subscribe-item button {
    text-transform: uppercase;
    width: 128px;
    height: 39px;
    background-color: #000000;
    color: #c8c8c8;
    opacity: 0.8;
    border: none;
}

.subscribe-item input {
    width: 293px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #111111;
}

.subscribe-item p {
    margin-top: 20px;
}

.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-item p {
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}

.gray-btn {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 0 20px;
    margin-bottom: 20%;
}

.text-news {
    margin: 20px 0;
}

.contacts {
    margin: 0 20%;
}

.contact-icon {
    margin-bottom: 10px;
}

.contact-inputs {
    display: flex;
}

.contact-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-inputs input,
.contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contact-inputs textarea {
    height: 85px;
}

.contact-btn {
    display: flex;
    justify-content: space-between;
}

.contact-btn button {
    width: 162px;
}

.container-map {
    position: relative;
    margin-top: 5%;
}

.opacity-map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    background-color: #0000008f;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-map {
    text-transform: uppercase;
    font-size: 25px;
    font-family: Dosis;
    margin-top: 2%;
    color: #fff;
}

.sotials {
    height: 20%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sotials .rhombus-btn {
    background-color: black;
    margin: 20px;
}

.sotials li {
    color: #111111;
    width: 15px;
    height: 20px;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
}

.sotial p {
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
}

.rhytm {
    margin-top: 7%;
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.Made-with-love {
    color: #999999;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
}

.g-menu {
    display: none;
}

.rhombus-btn-black {
    margin: 10px;
}

.rhombus-btn-black a {
    color: #000 !important;
    text-decoration: none
}

.topnav a {
    display: none;
}

.linkedin {
    text-decoration: none;
    color: grey;
}




/*mediaqeris*/
@media screen and (max-width: 960px) {
    .main-screen {
        height: 100%;
    }

    .g-menu {
        display: block;
    }

    .logo {
        font-size: 8px;
    }

    .Tomas-rhitm div {
        width: 110px;
    }

    .Tomas-rhitm nav {
        display: none;
    }

    .title-about {
        text-align: center;
    }

    .main-text>h1 {
        font-size: 25px;
        letter-spacing: 35.01px;
    }

    .main-text>p {
        font-size: 15px;
        margin-bottom: 20%;
    }

    .rhombus-btn {
        margin-bottom: 1%;
        width: 25px;
        height: 25px;
    }

    .row-3 {
        flex-wrap: wrap;
    }

    .row-3>div {
        width: 48%;
    }

    .card {
        width: 60%;
        margin: 0 auto;
        align-items: center;
    }

    .worker-about {
        font-size: 10px;
        line-height: 15px;
        margin: 1% 1%;
    }

    .scene {
        height: 470px;
    }

    .row-3 .subtitle-about {
        width: 100%;
    }

    .image-list>div {
        width: 100%;
        text-align: center;
        padding-bottom: 1%;
    }

    .worker-job {
        margin-bottom: 10px;
    }

    .monitor-img {
        display: none;
    }

    .list-servises {
        flex-wrap: wrap;
    }

    .portfolio-text {
        max-width: 90%;
    }

    .grey-laer {
        width: 50%;
    }

    .contacts {
        margin: 0 4%;
    }

    .contact-inputs {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-btn {
        flex-direction: column;

    }

    .news-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .digital-services-contant {
        text-align: center;
        align-items: center;
    }

    .contacts {
        text-align: center;
    }

    .contact-inputs input,
    .contact-inputs textarea {
        width: 200%;
    }

    .subscribe-item {
        align-items: center;
    }

    .subscribe-text {
        margin: 10px;
    }


    .topnav {
        overflow: hidden;
        background-color: #858585;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        font-family: "Open Sans";
        text-transform: uppercase;
        text-decoration: none;
        font-size: 11px;
        display: block;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }


}

@media screen and (max-width: 600px) {
    .main-screen {
        height: 100%;
    }

    .main-text>h1 {
        font-size: 10px;
        margin-top: 10%;
    }

    .main-text>p {
        font-size: 10px;
    }

    .rhombus-btn {
        margin-bottom: 1%;
    }

    .row-3>div {
        width: 100%;
    }

    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .grey-laer {
        width: 100%;
    }

    .Tomas-rhitm nav {
        display: none;
    }

    .digital-services-contant {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .creative-works {
        display: none;
    }

    .portfolio-section {
        display: none;
    }

    .scene {
        height: 300px;
    }

}

@media screen and (max-width: 350px) {
    .small {
        display: none;
    }
}